<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type ="text/css" href="../static/css/films.css">
        <link rel="stylesheet" type="text/css" href="../static/css/common.css"> 
        <title>Accueil</title>
    </head>
    <header>
      <a href="index.html">Index</a>
      <a href="people.html">Poeple</a>
      <a href="planets.html">Planets</a>
      <a href="species.html">Species</a>
      <a href="starships.html">Starships</a>
      <a href="vehicles.html">Vehicles</a>
    </header>
    <body>
      {{range $}}   
    <ul>
       <li>Title : {{.Title}}    </li>   
       <li>EpisodeID : {{.EpisodeID}}    </li>   
       <li>OpeningCrawl : {{.OpeningCrawl}}    </li>   
       <li>Director : {{.Director}}    </li>   
       <li>Producer : {{.Producer}}    </li>   
       <li>ReleaseDate : {{.ReleaseDate}}    </li>   
       <li>Characters : {{.Characters}}    </li>   
       <li>Planets: {{.Planets}}    </li>   
       <li>Starships : {{.Starships}} </li>   
       <li>Vehicles : {{.Vehicles}} </li>   
       <li>Created : {{.Created}} </li> 
       <li>Edited : {{.Edited}} </li>  
       <li>URL : {{.URL}} </li>         
    </ul>
       {{end}}
    </body>
</html>