<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/people.css">
        <title>Films</title>
    </head>
    <body>
        <div class="title">
            <h1>Films</h1>
        </div>
        <li><a href="home.html">Home</a></li>
        <li><a href="index.html">Index</a></li>
        <li><a href="species.html">Species</a></li>
        
        <div id="heroes">
            <table id="tableau">
                <thead>
                    <tr>
                        <th id="title" class="notReverse">Title</th>
                        <th id="opening_crawl" >Opening Crawl</th>
                        <th id="director">Director</th>
                        <th id="producer">Producer</th>
                        <th id="release_date">Release Date</th>
                        <th id="characters">Characters</th>
                        <th id="planets">Planets</th>
                        <th id="starships">Starships</th>
                        <th id="vehicles">Vehicles</th>
                        <th id="species">Species</th>
                    </tr>
                </thead>
            </table>
        </div>
        <script src="../scripts/js/films.js"></script>
    </body>
</html>