<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        <div class="TitleAndSubtitle">
            <h1 class="Title">Welcome to the best website you've ever seen </h1>
            <div class=Subtitle>Have fun</div>
            <li><a href="index.html">Index</a></li>
            <li><a href="people.html">People</a></li>
            <li><a href="species.html">Species</a></li>
        </div>
    </body>
    <footer>
        <div class="FooterMenu">DISCLAIMER © Copyright 2021 - Nantes YNOV Campus</div>
    </footer>
</html>
