<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
    </head>
    <body>
      {{range $}}   
    <ul>
       <li>Name : {{.Name}}    </li>   
       <li>Height : {{.Height}}    </li>   
       <li>Mass : {{.Mass}}    </li>   
       <li>HairColor : {{.HairColor}}    </li>   
       <li>SkinColor : {{.SkinColor}}    </li>   
       <li>EyeColor : {{.EyeColor}}    </li>   
       <li>BirthYear : {{.BirthYear}}    </li>   
       <li>Gender: {{.Gender}}    </li>       
    </ul>
       {{end}}
    </body>
</html>