<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/people.css">
        <title>People</title>
    </head>
    <body>
        <div class="title">
            <h1>People</h1>
        </div>
        <li><a href="home.html">Home</a></li>
        <li><a href="index.html">Index</a></li>
        <li><a href="species.html">Species</a></li>
        
        <div id="heroes">
            <table id="tableau">
                <thead>
                    <tr>
                        <th id="name" class="notReverse">Name</th>
                        <th id="height" >Height</th>
                        <th id="mass">Mass</th>
                        <th id="hair_color">Hair color</th>
                        <th id="skin_color">Skin color</th>
                        <th id="eye_color">Eye color</th>
                        <th id="birth_year">Birth year</th>
                        <th id="gender">Gender</th>
                        <th id="homeworld">Homeworld</th>
                        <th id="films">Films</th>
                        <th id="species">Species</th>
                        <th id="vehicles">Vehicles</th>
                        <th id="starships">Starships</th>
                    </tr>
                </thead>
            </table>
        </div>
        <script src="../scripts/js/people.js"></script>
    </body>
</html>
