<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type ="text/css" href="../static/css/planets.css">
        <link rel="stylesheet" type="text/css" href="../static/css/common.css"> 
        <title>Accueil</title>
    </head>
    <header>
      <a href="index.html">Index</a>
      <a href="films.html">Films</a>
      <a href="people.html">People</a>
      <a href="species.html">Species</a>
      <a href="starships.html">Starships</a>
      <a href="vehicles.html">Vehicles</a>
    </header>
    <body>
      {{range $}}   
    <ul>
       <li>Name : {{.Name}}    </li>   
       <li>RotationPeriod : {{.RotationPeriod}}    </li>   
       <li>OrbitalPeriod : {{.OrbitalPeriod}}    </li>   
       <li>Diameter : {{.Diameter}}    </li>   
       <li>Climate : {{.Climate}}    </li>   
       <li>Gravity : {{.Gravity}}    </li>   
       <li>Terrain : {{.Terrain}}    </li>   
       <li>SurfaceWater: {{.SurfaceWater}}    </li>   
       <li>Population : {{.Population}} </li>   
       <li>Residents : {{.Residents}} </li>   
       <li>Films : {{.Films}} </li>   
       <li>Created : {{.Created}} </li>   
       <li>Edited : {{.Edited}} </li> 
       <li>URL : {{.URL}} </li>  
    </ul>
       {{end}}
    </body>
</html>