<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type ="text/css" href="../static/css/species.css">
        <link rel="stylesheet" type="text/css" href="../static/css/common.css"> 
        <title>Accueil</title>
    </head>
    <header>
        <a href="home.html">Home</a>
        <a href="films.html">Films</a>
        <a href="people.html">People</a>
        <a href="planets.html">Planets</a>
        <a href="starships.html">Starships</a>
        <a href="vehicles.html">Vehicles</a>
    </header>
    <body>
      {{range $}}   
    <ul>
       <li>Name : {{.Name}}    </li>   
       <li>Classification : {{Classification}}    </li>   
       <li>Designation : {{.Designation}}    </li>   
       <li>AverageHeight : {{.AverageHeight}}    </li>   
       <li>SkinColors : {{.SkinColors}}    </li>   
       <li>HairColors : {{.HairColors}}    </li>
       <li>EyeColors : {{.EyeColors}}    </li>   
       <li>AverageLifespan : {{.AverageLifespan}}    </li>   
       <li>Homeworld: {{.Homeworld}}    </li>   
       <li>Language : {{.Language}} </li>   
       <li>People : {{.People}} </li>   
       <li>Films : {{.Films}} </li>     
       <li>Created : {{.Created}} </li> 
       <li>Edited : {{.Edited}} </li>  
       <li>URL : {{.URL}} </li>    
    </ul>
       {{end}}
    </body>
</html>
