<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/common.css">
        <title>Species</title>
    </head>
    <nav>
        <ul>
            <li class="menu">
                Menu
                <ul class="sous-menu">
                    <a href="index.html">Index</a>
                    <a href="people.html">People</a>
                    <a href="films.html">Films</a>
                    <a href="planets.html">Planets</a>
                    <a href="starships.html">Starships</a>
                    <a href="vehicles.html">Vehicles</a>
                </ul>
            </li>
        </ul>
    </nav>
    <body>
        <div class="title">
            <h1>Species</h1>
        </div>
        <div id="heroes">
            <table id="tableau">
                <thead>
                    <tr>
                        <th id="name" >Name</th>
                        <th id="classification" >Classification</th>
                        <th id="designation">Designation</th>
                        <th id="average_height">Average Height</th>
                        <th id="skin_color">Skin color</th>
                        <th id="hair_colors">Hair Colors</th>
                        <th id="eye_color">Eye color</th>
                        <th id="average_lifespan">Average Lifespan</th>
                        <th id="homeworld">Homeworld</th>
                        <th id="language">Language</th>
                        <th id="people">People</th>
                        <th id="films">Films</th>
                    </tr>
                </thead>
            </table>
        </div>
        <script src="../scripts/js/species.js"></script>
    </body>
</html>
