<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/common.css">
        <title>Starships</title>
    </head>
     <nav>
        <ul>
            <li class="menu">
                Menu
                <ul class="sous-menu">
                    <a href="index.html">Index</a>
                    <a href="people.html">People</a>
                    <a href="films.html">Films</a>
                    <a href="planets.html">Planets</a>
                    <a href="species.html">Species</a>
                    <a href="vehicles.html">Vehicles</a>
                </ul>
            </li>
        </ul>
    </nav>
    <body>
        <div class="title">
            <h1>Starships</h1>
        </div>  
        <div id="heroes">
            <table id="tableau">
                <thead>
                    <tr>
                        <th id="name" class="notReverse">name</th>
                        <th id="model" >model</th>
                        <th id="manufacturer">manufacturer</th>
                        <th id="cost_in_credits">cost_in_credits</th>
                        <th id="length">length</th>
                        <th id="max_atmosphering_speed">max_atmosphering_speed</th>
                        <th id="crew">crew</th>
                        <th id="passengers">passengers</th>
                        <th id="cargo_capacity">cargo_capacity</th>
                        <th id="consumables">consumables</th>
                        <th id="hyperdrive_rating">hyperdrive_rating</th>
                        <th id="mglt">mglt</th>
                        <th id="starship_class">starship_class</th>
                        <th id="pilots">pilots</th>
                        <th id="films">films</th>
                        <th id="created">created</th>
                        <th id="edited">edited</th>
                        <th id="url">url</th>
                    </tr>
                </thead>
            </table>
        </div>
        <script src="../scripts/js/starships.js"></script>
    </body>
</html>
