<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
    </head>
    <body>
      {{range $}}   
    <ul>
       <li>Name : {{.Name}}    </li>   
       <li>Model : {{.Model}}    </li>   
       <li>Manufacturer : {{.Manufacturer}}    </li>   
       <li>CostInCredits : {{.CostInCredits}}    </li>   
       <li>Length : {{.Length}}    </li>   
       <li>MaxAtmospheringSpeed : {{.MaxAtmospheringSpeed}}    </li>   
       <li>Crew : {{.Crew}}    </li>   
       <li>Passengers: {{.Passengers}}    </li>   
       <li>CargoCapacity : {{.CargoCapacity}} </li>   
       <li>Consumables : {{.Consumables}} </li>   
       <li>VehicleClass : {{.VehicleClass}} </li> 
       <li>Pilots : {{.Pilots}} </li>   
       <li>Films : {{.Films}} </li>   
       <li>Created : {{.Created}} </li>   
       <li>Edited : {{.Edited}} </li> 
       <li>URL : {{.URL}} </li>  
    </ul>
       {{end}}
    </body>
</html>